html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  no glyphs  */
/* @import "partials/_colorpicker";
 */
/* *{
	transition: all 0.3s;
} */
body {
  height: 100vh;
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  flex-flow: column nowrap;
  justify-content: space-between;
}
body:after {
  display: table;
  content: '';
  clear: both;
}

/* wrapping in three rows with flex */
h2 {
  font-size: 4vh;
  line-height: 1.6;
  display: inline-block;
}

section {
  display: flex;
  justify-content: space-between;
  margin: 0 4vw;
}

/* animations */
.upsidedown {
  transform: rotate(180deg);
}

.arrow {
  /*position:absolute;	right:18px; 	bottom:10px	;*/
}

/* template.header */
.top {
  background-color: #3d3d3d;
  color: snow;
  position: relative;
}
.top:after {
  display: table;
  content: '';
  clear: both;
}

/* navbar */
.navbar {
  min-height: 0;
  margin-bottom: 0;
  display: flex;
}
.navbar > li {
  line-height: 6vh;
  margin: auto;
}
.navbar .glyphicon {
  line-height: 5.5vh;
}

/* template.sketch */
.sketch {
  flex: 2 50vh;
  display: flex;
}
.sketch > * {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.sketch .tools {
  border-left: 1px solid #3d3d3d;
}
.sketch .tools fieldset {
  margin-bottom: 10px;
}
.sketch .tools input {
  display: inline-block;
}
.sketch .artboard {
  flex-basis: 50vw;
}

table {
  margin-left: 10px;
}
table input {
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: none;
  appearance: none;
}
table select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

tr p {
  font-size: 80%;
  font-weight: 700;
}
tr label {
  color: #666;
  font-size: 70%;
  letter-spacing: 1px;
  padding-left: 4px;
}
tr label[for='typeP'] {
  vertical-align: top;
}
tr input, tr select {
  width: 100%;
  font-size: 80%;
  border-width: 0;
  padding: 0;
}
tr fieldset {
  display: inline-block;
  margin-left: 3px;
}
tr fieldset + fieldset {
  margin-right: 3px;
  margin-left: 2px;
}
tr > td {
  font-size: 80%;
  vertical-align: baseline;
}
tr > td fieldset {
  width: 27px;
}
tr > td:nth-of-type(2) fieldset {
  width: 15px;
  margin-right: 8px;
}

th {
  padding: 4px 2px;
  font-size: 66%;
  font-weight: 700;
}

sup {
  vertical-align: sub;
  font-size: smaller;
}

/* template bottom */
.bottom {
  background-color: #3d3d3d;
  color: snow;
  line-height: 24px;
}
.bottom form {
  width: 100%;
  padding-bottom: 10px;
}
.bottom form textarea {
  width: 100%;
}
.bottom form label {
  font-size: 70%;
}
.bottom code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.bottom textarea {
  color: black;
}

/* draw path */
g > path {
  pointer-events: none;
}

/* section{
	background:#eee;
	
	text-align: center;
	padding-bottom: 24px;
	

}

.arrow{
	//display:inline-block;
	position:absolute;
	right:18px;

}

.glyphicon{}

.upsidedown{
	transform: rotate(180deg);

}

.scaleout{
	font-size:0;
	margin:0;
	transition: all 0.6s;
}
.repos > li{
	list-style: none;
	border-bottom: 1px solid #ccc;
}
.repos > li:last-child{
	
	border-bottom: 0;
}

.sketch{
	flex:0 1;
	needs to be set with js
}
.sketch > .row , .sketch > .row > .artboard{
	height:100%;
}
.sketch > .row > .artboard{
	background: tan;
} */
