


    <section>

        <h2 ng-class="{'fade scaleout':dr.glyphTrans}">SVG draw</h2>

        <!-- menu -->
        <ul class="navbar">
<!--           <li>about</li>
          <li>docs</li>
          <li>profile</li>
          <div class='arrow'>
            <span class='glyphicon glyphicon-chevron-down' ng-click='dr.change()' ng-class="{'upsidedown':dr.glyphTrans}"/></span>
          </div> -->
        </ul>
        
      

    </section>

            <!-- <h3 ng-class="{'fade scaleout':glyphTrans}">fun with vectors :)</h3>
 -->

<!--                 <fieldset><label for="search">Search:</label>
                <input id="search" ng-model="query" >
                </fieldset>
                
                <fieldset>         
                <label for="order">Sort by:</label>
                <select id="order" ng-model="orderProp">
                   <option value="name">Alphabetical</option>
                   <option value="created_at">Newest</option>
                   <option value="language">Language</option>
                   <option value="id">id</option> 
                </select>
                </fieldset> -->
<!--       </div>
 </div>  -->