


<div ng-include="template.header"></div> <!-- this breaks it  -->



 <div class="container-fluid">
        <div class="row">
        
        <figure class="col-md-9" class="artboard" >
                      

        </figure>


        <div class="col-md-3">
        
          <ul class="choosen-repos">
            <li ng-repeat="repo in repos">
              <h4>{{repo.name}}</h4>
            <!-- <p>{{repo.description}}</p> -->
            <!--  <i class='glyphicon glyphicon-remove-sign' ng-click='removeItem(repo.name)'></i>
            <i class='glyphicon glyphicon-plus-sign' ng-click='removeItem(repo.name)'></i> -->
            </li>
          </ul>

        </div>


    </div>
  </div>