<!doctype html>
<html lang="en" ng-app="svgFiddle">
<head>
  <meta charset="utf-8">
  <title>SVG-draw</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">

  <!-- js -->
  <script src="js/path-data-polyfill.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="js/app.js"></script>
  
  <script src="js/controllers.js"></script>
  
  <script src="js/draw-path.js"></script>
</head>

<body  ng-controller='RootCtrl as root'>   

  <div class='top'>
        <section >

          <h2 >SVG draw</h2>

          <!-- menu -->
          <ul class="navbar">
              <li class="btn-group" uib-dropdown is-open="status.isopen">
                      <button id="sample-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                      sample<span class="caret"></span>
                      </button>

                      <ul class='uib-dropdown-menu dropdown-menu-right' role='menu' aria-labelledby='sample-button'>
                        <li ng-repeat="sample in root.samples">
                        <a href ng-click='root.change(sample.code)'>{{sample.name}}</a>
                        </li>


      
                      </ul>
              </li>
          </ul>
          
        

      </section>
  </div> <!--  -->

<div class='sketch'  >
      
    <!-- <svg draw-events  id="artboard"  class="artboard"> -->
    <svg  id="artboard"  class="artboard">

        <g draw-svg='root.code'></g>
       <!--  <g draw-vector ></g> -->
        <g draw-points points='root.points'></g>
       
 
  </g>
          
    </svg> 


 
    <div class="tools" >

         <!-- <draw-points-list ></draw-points-list>  -->

    </div>   


        
</div>


<div class='bottom' >
  <div draw-except></div>
<section>

<form name='coding' novalidate>
               
  <draw-textarea code='root.code'></draw-textarea>

</form>
              
</section>

<section>
      

              
</section>
</div>




</body>
</html>
