
@import "partials/_base";
body {
  height: 100vh;
  display:flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //flex-direction:;
  flex-flow:  column nowrap;

}



.navbar-brand{
	padding:0;
	margin-right:0;
	> h1{
		line-height:2.1rem;
		font-size:3.3vmin;
		margin-bottom: 0;
	}
}

.btn-side-borded{
	font-size:0.9rem;
	& ~.dropdown-menu{
		min-width:100px;
		text-align: right;
		margin:0;
		border-radius:0;
		a{
			margin-right:10px;
			color:#3d3d3d;
			font-size:0.8rem;
		}
	}
}	
.top{
   	background-color:$background-color2;
   	color:$text-color2;
	@include justify-content(space-between);
	padding-top:0;
	padding-bottom:0;
	button{
		background:transparent;
	}
}




/* navbar */
.navbar{
	// reset bootstrap navbar
	min-height: 0; 
    margin-bottom: 0;
    //---------//

	display:flex;

	
	.glyphicon{
		line-height: 5.5vh;
	}

}

/* template.sketch */
.sketch{
    flex:2 50vh;
	
		.tools{
			border-left:1px solid $background-color2;
			fieldset{
				margin-bottom: 10px;
			}
			input{
				display:inline-block;
			}
		}
		.artboard{
			padding:0;
			flex: 1;
		}
}

table{
	margin-left:10px;
	input{
		box-sizing:border-box;
		text-align: center;
		-moz-appearance:none;
		appearance:none;
	}
	select{
		background:transparent;
		-webkit-appearance: none;
		-moz-appearance:none;
		appearance:none;
	}

}

tr{

	p{
		font-size: 80%;
		font-weight: 700;
	}
	label{
		color:#666;
		font-size: 70%;
		letter-spacing: 1px;
		padding-left: 4px;

		&[for='typeP']{
    			vertical-align: top
    	}
	}
	input, select{
		width:100%;
		font-size: 80%;
	    border-width: 0;
    	padding: 0;
	}
	fieldset{
		display:inline-block;
		margin-left:3px;
	}
	fieldset+fieldset{
		margin-right:3px;
		margin-left:2px;
	}
	
	&> td{
		font-size: 80%;
		vertical-align: baseline;
		// padding:0 5px;
	}
	&> td fieldset{
		width:27px;
	}
	&> td:nth-of-type(2) fieldset{
		width:15px;
		margin-right:8px;
	}

}

th{
	padding:4px 2px;
	font-size:66%;
	font-weight:700;
}
sup{
	vertical-align: sub;
    font-size: smaller;
}
/* template bottom */
.bottom{
	background-color:$background-color2;
    color:$text-color2;
	line-height: 24px;
	
	section{
		width:95%;
		margin: auto;
	}
    
    form{
    	width:100%;
    	textarea{
    		width:100%
    	}
    	label{
    		font-size: 70%;
    		margin-bottom: 0;
    	}
    }
    textarea{
	   font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    	color:black;
    	font-size: 0.65rem;
    	line-height: 0.85rem;
	    resize: none;
	    height: 3rem;
    }

}


/* draw path */
g > path{
	pointer-events:none
}
/* section{
	background:#eee;
	
	text-align: center;
	padding-bottom: 24px;
	

}

.arrow{
	//display:inline-block;
	position:absolute;
	right:18px;

}

.glyphicon{}

.upsidedown{
	transform: rotate(180deg);

}

.scaleout{
	font-size:0;
	margin:0;
	transition: all 0.6s;
}
.repos > li{
	list-style: none;
	border-bottom: 1px solid #ccc;
}
.repos > li:last-child{
	
	border-bottom: 0;
}

.sketch{
	flex:0 1;
	needs to be set with js
}
.sketch > .row , .sketch > .row > .artboard{
	height:100%;
}
.sketch > .row > .artboard{
	background: tan;
} */