
@import "partials/_base";
/* @import "partials/_colorpicker";
 */

/* *{
	transition: all 0.3s;
} */
body {
  height: 100vh;
  display:flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //flex-direction:;
  flex-flow:  column nowrap;
  justify-content: space-between;
  	
  	&:after {
		  display:table;
		  content:'';
		  clear:both;
	}
}


/* wrapping in three rows with flex */
.top, .sketch, .bottom{}

h2{
	font-size:4vh;
	line-height:1.6;
	display:inline-block;	

}

section{
	display: flex;
	justify-content: space-between;
	margin: 0 4vw;
}


/* animations */
.upsidedown{
	transform: rotate(180deg);

}
.arrow{
	/*position:absolute;	right:18px; 	bottom:10px	;*/
}

	
/* template.header */
.top{
    background-color:$background-color2;
    color:$text-color2;
    position: relative;

  	&:after {
	  display:table;
	  content:'';
	  clear:both;
	}

}

/* navbar */
.navbar{
	// reset bootstrap navbar
	min-height: 0; 
    margin-bottom: 0;
    //---------//

	display:flex;

	>li {
		line-height: 6vh;
		margin: auto;
		
	}
	.glyphicon{
		line-height: 5.5vh;
	}

}

/* template.sketch */
.sketch{
    flex:2 50vh;
	display:flex;
	
	
		& > *{
			flex:1;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		.tools{
			border-left:1px solid $background-color2;
			fieldset{
				margin-bottom: 10px;
				// padding:4px
			}
			input{
				display:inline-block;
				//border-width:0.1em;
				
			}


		}
		.artboard{
			flex-basis:50vw

		}
}

table{
	
	margin-left:10px;
	input{
		box-sizing:border-box;
		text-align: center;
		// -webkit-appearance: none;
		-moz-appearance:none;
		appearance:none;
	}
	select{
		background:transparent;
		-webkit-appearance: none;
		-moz-appearance:none;
		appearance:none;
	}

}

tr{

	p{
		font-size: 80%;
		font-weight: 700;
	}
	label{
		color:#666;
		font-size: 70%;
		letter-spacing: 1px;
		padding-left: 4px;

		&[for='typeP']{
    			vertical-align: top
    	}
	}
	input, select{
		width:100%;
		font-size: 80%;
	    border-width: 0;
    	padding: 0;
	}
	fieldset{
		display:inline-block;
		margin-left:3px;
	}
	fieldset+fieldset{
		margin-right:3px;
		margin-left:2px;
	}
	
	&> td{
		font-size: 80%;
		vertical-align: baseline;
		// padding:0 5px;
	}
	&> td fieldset{
		width:27px;
	}
	&> td:nth-of-type(2) fieldset{
		width:15px;
		margin-right:8px;
	}

}

th{
	padding:4px 2px;
	font-size:66%;
	font-weight:700;
}
sup{
	vertical-align: sub;
    font-size: smaller;
}
/* template bottom */
.bottom{
	background-color:$background-color2;
    color:$text-color2;
	line-height: 24px;
    
    form{
    	width:100%;
    	padding-bottom:10px;
    	textarea{
    		width:100%
    	}
    	label{
    		font-size: 70%;

    	}
    }
    code{
	   font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
    textarea{
    	color:black;
    }

}


/* draw path */
g > path{
	pointer-events:none
}
/* section{
	background:#eee;
	
	text-align: center;
	padding-bottom: 24px;
	

}

.arrow{
	//display:inline-block;
	position:absolute;
	right:18px;

}

.glyphicon{}

.upsidedown{
	transform: rotate(180deg);

}

.scaleout{
	font-size:0;
	margin:0;
	transition: all 0.6s;
}
.repos > li{
	list-style: none;
	border-bottom: 1px solid #ccc;
}
.repos > li:last-child{
	
	border-bottom: 0;
}

.sketch{
	flex:0 1;
	needs to be set with js
}
.sketch > .row , .sketch > .row > .artboard{
	height:100%;
}
.sketch > .row > .artboard{
	background: tan;
} */